<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img width="150px" height="100px" src="/images/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {{ if eq .URL "/services/" }}active{{ end }}" aria-current="page" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .URL "/training/" }}active{{ end }}" aria-current="page" href="/training">Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .URL "/methodology/" }}active{{ end }}" href="/methodology">Methodology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .URL "/work/" }}active{{ end }}" href="/work">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .URL "/publications/" }}active{{ end }}" href="/publications">Publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .URL "/about/" }}active{{ end }}" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .URL "/contact/" }}active{{ end }}" href="/contact">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>